{% extends 'base.html.twig' %}
{% block container %}
    <div class="text-center mt-5">
        {% if user %}
            {% if list %}
                {% if user.id == list.owner or list.shareable == 1 or user.permission == 1 %}
                {% if message != '' %}
                    <div class="alert-success">{{ message }}</div>
                {% endif %}
            <form method="post">
                <label for="inputTitle">Enter title</label>
                <input type="text" name="inputTitle" id="inputTitle" class="form-control" required>
                <label for="inputDesc">Enter description</label>
                <textarea class="form-control" required maxlength="1024" id="inputDesc" name="inputDesc"></textarea>
                <input type="submit" value="Add Entry" class="btn btn-lg btn-dark mt-3" name="addEntry">

            </form>
                {% else %}
                    <h1 class="h3 text-weight-normal">This list is not public</h1>
                    <p class="h6 text-weight-normal"><a href="/List">Click here to redirect back to list</a></p>
                {% endif %}
            {% else %}
                <h1 class="h3 text-weight-normal">This list does not exist</h1>
                <p class="h6 text-weight-normal"><a href="/List">Click here to redirect back to list</a></p>
            {% endif %}
        {% else %}
            <h1>You are not logged in.</h1>
            <p>Please sign in by clicking <a href="/Login">here</a></p>
        {% endif %}
    </div>
{% endblock %}

